MONGO_URL="mongodb+srv://..."
DB_NAME="borbi_prod"
CLOUDINARY_CLOUD_NAME="dmlslu6zi"
CLOUDINARY_API_KEY="746594887831452"
CLOUDINARY_API_SECRET="g--eCoDs3aHhBGahvhdZaiWc9wM"
JWT_SECRET="borbi_tech_secret_key_2025"
SECRET_KEY="borbi_tech_hash_secret_2025"
PLATFORM_FEE_RATE="0.5"
ADMIN_EMAIL="pauledoux@protonmail.com"
